[Unit]
Description=ZeroPi Teams Recorder Service
After=network.target

[Service]
User=nakajima
Group=nakajima
WorkingDirectory=/home/nakajima
# 環境変数を追加
Environment="XDG_RUNTIME_DIR=/run/user/1000"
Environment="HOME=/home/nakajima"
Environment="PULSE_RUNTIME_PATH=/run/user/1000/pulse"
ExecStart=/usr/bin/python3 /home/nakajima/recorder_web.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target